<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47317436-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-47317436-1');
    </script>

    <title>IG PROG - Obrt za računalno programiranje</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Program Prehrane - Profesionalni alat za izradu uravnoteženih jelovnika i plana tjelesne aktivnosti. Aplikacija omogućava utvrđivanje stanja uhranjenosti i energetske potrošnje pojedinca te izradu jelovnika utemeljenu na znanstvenim spoznajama na polju nutriconizma.">
    <meta name="author" content="IG PROG, obrt za računalno programiranje">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <script src="assets/js/vendor/jquery.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/angular.min.js"></script>
    <script src="assets/js/vendor/angular-animate.min.js"></script>
    <script src="assets/js/vendor/angular-aria.min.js"></script>
    <script src="assets/js/vendor/angular-messages.min.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Encode Sans Expanded' rel='stylesheet'>
    <style>
        body {
            font-family: 'Encode Sans Expanded';
            font-size: 16px;
        }
    </style>

</head>
<body id="home" ng-app="app" ng-controller="appCtrl" data-spy="scroll" data-target=".navbar" data-offset="60" ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html" style="padding-top:7px !important"><img src="assets/img/logo.png" style="height:35px"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#services"><i class="fa fa-info"></i> Usluge</a></li>
                    <li><a href="#technology"><i class="fa fa-desktop"></i> Tehnologije</a></li>
                    <li><a href="#contact"><i class="fa fa-comment"></i> Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron text-center" style="padding-top:300px">
        <h1 style="color:white !important; text-shadow: 2px 2px darkgray;" class="text-capitalize">izrada web aplikacija</h1>
        <h2 style="color:white !important" class="text-lowercase"><em>brzo | povoljno | profesionalno</em></h2>
        <div>
            <a href="#services" class="btn btn-primary m10"><strong style="font-size:xx-large"> Saznaj više</strong></a>
        </div>
    </div>

    <div id="services" class="container pt">
        <div class="row">
            <div class="col-sm-5">
                <h3>Usluge</h3>
                <hr />
                <p>
                    Izrada web aplikacija, web shopova, internet stranica i računalnih programa.<br />
                    Nudimo kompletno programsko rješenje prema Vašim specifičnim potrebama, od dizajna do smještaja aplikacije na server.
                </p>
            </div>
            <div class="col-sm-7">
                <img src="assets/img/responsive.png" class="img-responsive" style="height:180px" />
            </div>
            
        </div>
    </div>

    <div id="technology" class="container pt">
        <h3>Tehnologije</h3>
        <p class="text-justify">
            Za izradu web aplikacija koristimo najnovije tehnologije. Dizajn je moderan i responzivan, što znači da se izgled stranice automatski prilagođava veličini svakog zaslona (laptop, tablet, mobitel...).
        </p>
        <hr />
        <div class="row">
            <div class="col-xs-2">
                <img src="assets/img/framework/angularjs.png" class="img-responsive" />
            </div>
            <div class="col-xs-2">
                <img src="assets/img/framework/csharp.png" class="img-responsive" />
            </div>
            <div class="col-xs-2">
                <img src="assets/img/framework/html5.png" class="img-responsive" />
            </div>
            <div class="col-xs-2">
                <img src="assets/img/framework/javascript.png" class="img-responsive" />
            </div>
            <div class="col-xs-2">
                <img src="assets/img/framework/jquery.png" class="img-responsive" />
            </div>
            <div class="col-xs-2">
                <img src="assets/img/framework/bootstrap.png" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <img src="assets/img/framework/css3.png" class="img-responsive" />
            </div>
            <div class="col-xs-2">
                <img src="assets/img/framework/angularmaterial.jpg" class="img-responsive" />
            </div>
            <div class="col-xs-2">
                <img src="assets/img/framework/mssql.png" class="img-responsive" />
            </div>
            <div class="col-xs-2">
                <img src="assets/img/framework/sqlite.jpg" class="img-responsive" />
            </div>
            <div class="col-xs-2">
                <img src="assets/img/framework/aspnet.jpg" class="img-responsive" />
            </div>
            <div class="col-xs-2">
                <img src="assets/img/framework/visualbasic.jpg" class="img-responsive" />
            </div>
        </div>
    </div>

    <div id="portfolio" class="container pt">
        <h3>Izdvojeni radovi</h3>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <div class="well portfolio">
                    <h2 style="font-size:14px" class="text-center">Program Prehrane Web</h2>
                    <img src="assets/img/program_prehrane_web.png" class="img-thumbnail" />
                    <em>web aplikacija za izradu uravnoteženih jelovnika i plana tjelesne aktivnosti</em>
                    <a href="https://www.programprehrane.com">www.programprehrane.com</a>
                    <a href="https://www.plan-ishrane.com">www.plan-ishrane.com</a>
                    <a href="https://www.nutrition-plan.com">www.nutrition-plan.com</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well portfolio">
                    <h2 style="font-size:14px" class="text-center">Program Prehrane 5.0</h2>
                    <img src="assets/img/program_prehrane_5.png" class="img-thumbnail" />
                    <em>računalni program za izradu uravnoteženih jelovnika i plana tjelesne aktivnosti</em>
                    <a href="https://www.programprehrane.com/program-prehrane-5.html">www.programprehrane.com</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well portfolio">
                    <h2 style="font-size:14px" class="text-center">Evidencija teretane</h2>
                    <img src="assets/img/evidencija_teretane.jpg" class="img-thumbnail" />
                    <em>web aplikacija vođenje evidencije o članovima i naplate članarine</em>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well portfolio">
                    <h2 style="font-size:14px" class="text-center">Promo tekstil</h2>
                    <img src="assets/img/promo_tekstil.png" class="img-thumbnail" />
                    <em>web shop za prodaju tekstilnih proizvoda</em>
                    <a href="https://www.promo-tekstil.com">www.promo-tekstil.com</a>
                </div>
            </div>
        </div>
    </div>

    <div id="awards" class="container pt">
        <h3>O obrtu</h3>
        <hr />
        <div class="row">
            <div class="col-sm-7">
                <p class="text-justify">
                    Obrt za računalno programiranje <strong>IG PROG</strong> osnovam je 2012 g. sa primarnim ciljem 
                    razvoja računalnog programa za izradu uravnoteženih jelovnika i plana tjelesne aktivnosti <a href="https://www.programprehrane.com" target="_blank">Program Prehrane</a>.
                    Od prve verzije programa iz 2008 g pa do danas program je doživio 6 verzija i je evoluirao u modernu web aplikacije sa preko 300 zadovoljnih korisnika iz Hrvatske i zemalja regije.
                    Program Prehrane je dobotnik više priznanja i zlatnih medalji na domaćim i međunarodnim sajmovima inovacija.
                    Više o programu pogledajte <a href="https://www.programprehrane.com" target="_blank">ovdje</a>...
                </p>
                  
            </div>
            <div class="col-sm-5">
                <h3>Priznanja</h3>
                <hr />
                <div class="row">
                    <div class="col-xs-3">
                        <img src="assets/img/awards/inova34.jpg" class="img-responsive" />
                    </div>
                    <div class="col-xs-3">
                        <img src="assets/img/awards/inova37.jpg" class="img-responsive" />
                    </div>
                    <div class="col-xs-3">
                        <img src="assets/img/awards/AgroArca.jpg" class="img-responsive" />
                    </div>
                    <div class="col-xs-3">
                        <img src="assets/img/awards/inventum2013.jpg" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="container" style="padding-top:200px">
        <h3>Kontakt</h3>
        <hr />
        <div class="row">
            <div ng-controller="contactCtrl" class="col-sm-5">
                <label>IG PROG, obrt za računalno programiranje</label>
                <p>OIB {{config.oib}}</p>
                <p>IBAN {{config.iban}}</p>
                <p><span class="fa fa-home"></span> Ludvetov breg 5, 51000 Rijeka, Hrvatska</p>
                <p><a href="tel:+385 98 330 966"><span class="fa fa-phone"></span> +385 98 330 966</a></p>
                <p><a href="mailto:igprog@yahoo.com"><span class="fa fa-send-o"></span> igprog@yahoo.com</a></p>
                <p><a href="https://www.programprehrane.com"><span class="fa fa-globe"></span> www.programprehrane.com</a> | <a href="https://www.igprog.hr" target="_blank"> www.igprog.hr</a></p>
            </div>
            <div ng-controller="contactCtrl" class="col-sm-7 slideanim">
                <h3>Pošaljite upit</h3>
                <div ng-if="showAlert" class="alert alert-success">
                    <strong>Poruka je uspješno poslana!</strong>
                    <p>Odgovorit ćemo Vam u najskorijem roku.</p>
                </div>
                <div ng-if="!showAlert">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input ng-model="d.name" class="form-control" name="name" placeholder="Ime" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input ng-model="d.email" class="form-control" name="email" placeholder="Email" type="email" required>
                        </div>
                    </div>
                    <textarea ng-model="d.message" class="form-control" name="comments" placeholder="Poruka" rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-primary pull-right" ng-disabled="isSendButtonDisabled" ng-click="send(d)"><span ng-class="sendicon"></span> {{sendicontitle}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center pt">
        <div class="navbar-fixed-bottom m10">
            <a href="#home" title="Na vrh">
                <span class="fa fa-chevron-up fa-2x"></span>
            </a>
        </div>
        <div style="background-color:lightgrey">
            <div class="p5 text-small">
                <a href="https://www.programprehrane.com">www.programprehrane.com</a> | 
                <a href="https://www.plan-ishrane.com">www.plan-ishrane.com</a> |
                <a href="https://www.nutrition-plan.com">www.nutrition-plan.com</a> |
                <a href="https://www.promo-tekstil.com">www.promo-tekstil.com</a> |
                <a href="https://www.jdp-certifikati.hr">www.jdp-certifikati.hr</a> |
                <a href="https://www.apartmentselvira.com">www.apartmentselvira.com</a> |
                <a href="https://www.villamilibrela.com">www.villamilibrela.com</a>
            </div>
        </div>
        <div>
            <span class="pull-right">Copyright © {{year}} IG PROG</span>
        </div>
    </footer>

    <script src="assets/js/app.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>
