<div class="card card-explore zoom h-100">
    <div class="card-explore__img">
        <img class="card-img" src="{{img}}" alt="{{product}}">
    </div>
    <div class="card-body">
        <h3 ng-if="product" class="small font-weight-bold" > {{product}}</h3>
        <p ng-if="shortdesc" class="small">{{shortdesc}}</p>
        <a ng-if="link" href="{{link}}" class="small" title="{{domain}}">{{domain}} <i class="ti-arrow-right"></i></a>
    </div>
</div>


<!--OLD-->
<!--<div class="card shadow zoom bg-light" >
    <a href="{{link}}" title="{{product}}">
        <img class="card-img-top" src="{{img}}" alt="{{product}}">
        <div class="stretch hilight">
            <div class="card-content">
                <h2 ng-if="product" class="lead card-text">{{product}}</h2>
                <p ng-if="shortdesc" class="card-text">{{shortdesc}}</p>
            </div>
        </div>
    </a>
</div>-->

